{% load static %}
<header>
  <div class="container">
    <div class="logo">
      <a href="{% url 'homepage' %}">
        <img
          src="{% static 'images/logoEdited.png' %}"
          alt="DjangoBytes"
          height="180px"
          width="200px"
        />
      </a>
    </div>

    <nav>
      <div class="navigation-bar">
        <ul>
          <li>
            <a href="{% url 'homepage' %}">
              <img src="{% static 'images/home.svg' %}" height="24px" width="24px" alt="Home" />
              Home
            </a>
          </li>
          <li>
            <a href="{% url 'create_post'%}">
              <img src="{% static 'images/blog.svg' %}" height="24px" width="24px" alt="Blog" />
              Post
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="{% static 'images/contact.svg' %}"
                height="24px"
                width="24px"
                alt="Contact"
              />
              Contact
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="right-container">
      <!-- <form class="search-form">
        <label for="search-bar">Search</label>
        <input type="search" id="search-bar" />
        <button type="submit" class="search-button">
          <span class="visually-hidden">Search</span>
        </button>
      </form> -->

      <a href="">
        <img src="{% static 'images/account.png' %}" alt="Profile" height="32px" width="32px" />
      </a>
    </div>
  </div>
</header>