<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
    {%for post in posts %}
    <div>
        <a href="{% url 'post_detail' post.pk %}"><h2 align = "center">{{post.title}}</h2></a>
        <span>{{post.author}}</span>
        <span>Published:{{post.created}}</span>
        <a href = "{% url 'update_post' post.pk%}">Edit</a>
        <a href = "{% url 'delete_post' post.pk%}">Delete</a>
        <p>{{post.content}}</p>
    </div>
    {% endfor %}
</body>
</html>